spring:
    datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            auto-commit: false
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                show_sql: true