spring:
    datasource:
        url: jdbc:mysql://localhost:3306/db_virtus
        username: root
        password: root
        driver-class-name: com.mysql.jdbc.Driver
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                show_sql: true